.main-background {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.full-result {
    color: #f00;
    font-weight: bold;
}

.result-without-resources {
    color: rgb(255, 0, 221);
    font-weight: bold;
}
.result-standard {
    color: rgb(0, 255, 98);
    font-weight: bold;
}